---
import { type CollectionEntry, getCollection } from "astro:content";

import Page from "@layouts/Page.astro";
import FormattedDate from "@components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<Page title={post.data.title} description={post.data.desc}>
  <div class="relative">
    <div
      class="static text-left mb-3 xl:w-[14rem] xl:absolute xl:-left-72 xl:text-right"
    >
      <a href="/posts" class="block mb-3">
        &#8592; <span class="italic">Posts</span>
      </a>
      <h1 class="text-xl font-bold">{post.data.title}</h1>
      <FormattedDate date={post.data.pubDate} />
    </div>
    <Content />
  </div>
  <div
    class="hidden px-6 py-1 border-l-4 text-primary-100 border-primary-400 bg-primary-700 italic [&:nth-child(even)]:bg-base-600 p-2 border border-base-500 list-decimal ml-[1.1rem] mb-6 list-disc w-full text-left [&>tr]:bg-base-600 text-4xl font-bold mb-3 text-2xl text-xl text-lg rounded-md"
  >
  </div>
</Page>
