---
import { getCollection } from "astro:content";

import Page from "@layouts/Page.astro";
import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Page
  title="Jecktor's website"
  description="Formerly known as Jecktor's journal."
>
  <a href="/" class="block mb-3">&#8592; Index</a>
  <ul class="flex flex-col gap-4">
    {
      posts.map((post) => (
        <li class="flex flex-wrap justify-between items-center md:flex-nowrap md:whitespace-nowrap">
          <a
            href={`/posts/${post.slug}`}
            class="mr-4 overflow-hidden text-ellipsis"
          >
            {post.data.title}
          </a>
          <span>
            <FormattedDate date={post.data.pubDate} />
          </span>
        </li>
      ))
    }
  </ul>
</Page>
