---
import Page from "@layouts/Page.astro";
import Works from "@components/Works.astro";
---

<Page title="Works" description="Some of the projects I've worked on.">
  <div class="relative">
    <div
      class="static text-left mb-3 xl:w-[14rem] xl:absolute xl:-left-72 xl:text-right"
    >
      <a href="/" class="block mb-3">
        &#8592; <span class="italic">Index</span>
      </a>
    </div>
    <Works />
  </div>
</Page>
