@font-face {
  font-family: "Proxima-Nova";
  src: url("/fonts/Proxima-Nova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("/fonts/Proxima-Nova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Garamond-Premier-Pro";
  src: url("/fonts/Garamond-Premier-Pro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Garamond-Premier-Pro";
  src: url("/fonts/Garamond-Premier-Pro-Bold-Italic.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.8;
  overflow-wrap: break-word;
  font-family: "Proxima Nova", sans-serif;
  color: #d8d8d8;
  background: #171717;
}

html {
  scroll-behavior: smooth;
}

em,
i,
.italic {
  font-style: italic;
  font-family: "Garamond Premier Pro", serif;
  -webkit-font-smoothing: auto;
}

strong em,
i.bold {
  font-weight: 700;
}

main a {
  text-underline-offset: 2px;
  text-decoration: underline;
  text-decoration-color: #ae8e7e;
}

main a:hover {
  color: #ae8e7e;
}

main img {
  border-radius: 0.375rem;
}

mark {
  background: #ae8e7e;
}

ul.contains-task-list {
  list-style: none;
}

p > code {
  padding: 0.05rem 0.25rem;
}

code {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

blockquote blockquote {
  margin: 0 !important;
}

blockquote > p {
  margin: 0 !important;
  color: inherit !important;
}

p,
blockquote,
pre {
  margin-bottom: 1.5rem !important;
}

pre,
p > code {
  border-radius: 0.375rem;
  background-color: transparent !important;
}

.bg {
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  z-index: -1;
}

.bg-method {
  background-image: url("/assets/bg.avif");
}

.bg-lost {
  background-image: url("/assets/lost.avif");
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grid-template-gallery {
  grid-template-areas:
    "i1 i1 i3 i3 i3"
    "i2 i2 i3 i3 i3";
}
