body {
  font-family: 'Rubik', Verdana, --apple-system, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

p {
  text-align: justify;
  line-height: 1.5em;
}

main a {
  text-underline-offset: 2px;
  text-decoration: underline;
  text-decoration-color: #d6a1e7;
}

main a:hover {
  color: #d6a1e7;
}

pre {
  padding: 1rem;
  margin-bottom: 1.5rem;
}

p > code {
  padding: 0.5rem;
}

pre,
p > code {
  border-radius: 0.75rem;
  background-color: #21252b !important;
}
