---
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';
---

<Body>
  <Header />
  <main class="pt-[56px]">
    <Content>
      <h1 class="pb-4 mb-6 font-head text-3xl border-b-2 border-neutral-200">
        Not Found
      </h1>
    </Content>
  </main>
  <Footer />
</Body>
