---
import "@styles/base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#171717" />
    <link rel="preload" as="image" href="/assets/lost.avif" />
    <link
      rel="preload"
      href="/fonts/Proxima-Nova-Regular.woff2"
      as="font"
      type="font/woff"
      crossorigin
    />
    <title>Not found</title>
    <meta
      name="description"
      content="There was a website here once. It's gone now."
    />
  </head>
  <body class="h-screen bg-base-800 bg bg-lost">
    <main
      class="absolute left-4 bottom-24 bg-base-800 md:left-24 md:bottom-1/4"
    >
      <h1 class="text-xl">There was a website here once.</h1>
      <p>It's gone now.</p>
      <a href="/">&#8592; Index</a>
    </main>
    <img
      src="splunchbob.png"
      class="absolute bottom-20 left-1/2 -translate-x-1/2"
      alt=""
      aria-hidden="true"
    />
  </body>
</html>
