---
import Page from "@layouts/Page.astro";
import FormattedDate from "@components/FormattedDate.astro";
---

<Page
  title="Jecktor's website"
  description="Formerly known as Jecktor's journal."
  preloads={["Regular", "Semibold"]}
>
  <section>
    <h1 class="mb-3 text-xl font-bold">Jecktor's website</h1>
    <p>
      I'm a software developer who mostly works with web technologies. I like
      anything audio-related and tinkering with old hardware. Sometimes I upset
      my ISP by pretending to be a sysadmin.
    </p>
    <p>
      Contact me at
      <a href="mailto:contact@jecktor.com">contact@jecktor.com</a>.
    </p>
  </section>
  <section>
    <h2 class="mb-3 text-xl font-bold">Works</h2>
    <div class="md:grid grid-cols-2 gap-x-8 mb-3">
      <a
        href={`/method/re`}
        class="block mb-6 !no-underline last:odd:col-span-2"
      >
        <fieldset class="h-full border border-base-300 px-4">
          <legend class="px-2 uppercase bold tracking-widest">
            Methods of revolution
          </legend>
          <p class="!mb-3 px-2 text-base-200">
            Revolutionary ideas, methodical solutions.
          </p>
        </fieldset>
      </a>
    </div>
  </section>
  <section>
    <h2 class="mb-3 text-xl font-bold">Posts</h2>
    <ul class="flex flex-col gap-4">
      <li
        class="flex flex-wrap justify-between items-center md:flex-nowrap md:whitespace-nowrap"
      >
        <a href={`/method/re`} class="mr-4 overflow-hidden text-ellipsis">
          Methods of revolution - Revolutionary ideas, methodical solutions.
        </a>
        <span>
          <FormattedDate date={new Date()} />
        </span>
      </li>
    </ul>
  </section>
</Page>
