---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="pt-10 md:pt-20">
      <Content>
        <h1 class="text-4xl font-head mb-1">Jecktor's website</h1>
        <hr class="mt-4 mb-6 border-neutral-200" />
        <p>Hey, I'm Jecktor.</p>
        <p>
          I barely know myself and what I want. I'm trying to figure out how to
          live a fulfilling life. This blog chronicles some of the steps along
          that journey.
        </p>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
