---
const today = new Date();
---

<footer class="px-8 mb-4 font-head mx-auto max-w-3xl">
  <div class="pt-3 border-t-2 text-neutral-400 border-neutral-500">
    &copy; {today.getFullYear()} jecktor
  </div>
</footer>
