---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props;
---

<a
  href={href}
  class="decoration-accent-300 underline-offset-2 hover:underline"
  {...props}
>
  <slot />
</a>
