---
import HeaderLink from './HeaderLink.astro';
import ToggleTheme from './ToggleTheme';
---

<header class="font-head fixed w-full px-5 py-3 backdrop-blur-3xl">
  <div class="mx-auto max-w-3xl flex items-center justify-between">
    <a href="/"><h2 class="font-bold text-3xl">jecktor.com</h2></a>
    <div class="flex gap-8">
      <nav class="items-center gap-8 hidden md:flex">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="https://github.com/withastro/astro" target="_blank">
          GitHub
        </HeaderLink>
      </nav>
      <ToggleTheme client:visible />
    </div>
  </div>
</header>
