---
import HeaderLink from './HeaderLink.astro';

export interface Props {
  hideRoute?: boolean;
}

const currentPath = new URL(Astro.request.url).pathname
  .split('/')
  .filter(Boolean)[0];

const { hideRoute = false } = Astro.props;
---

<div class="absolute inset-0 w-full h-[300px] overflow-hidden">
  <img
    src="/static/head.jpg"
    alt=""
    aria-hidden="true"
    class="w-full h-full object-cover"
  />
</div>
<header
  id="head"
  class="sticky top-[-1px] mt-52 font-head w-full px-5 py-3 z-50"
>
  <div class="mx-auto max-w-3xl flex items-center justify-between">
    <div class="flex items-baseline gap-1">
      <a href="/"><h2 class="font-bold text-3xl">jecktor.com</h2></a>
      {
        !hideRoute && currentPath && (
          <a href={`/${currentPath}`}>
            <h2 class="text-neutral-200">&sol; {currentPath}</h2>
          </a>
        )
      }
    </div>
    <nav class="items-center gap-8 hidden md:flex">
      <HeaderLink href="/entries">Entries</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="https://github.com/withastro/astro" target="_blank">
        GitHub
      </HeaderLink>
    </nav>
  </div>
</header>
<script>
  const observer = new IntersectionObserver(
    ([e]) =>
      e.target.classList.toggle('backdrop-blur-lg', e.intersectionRatio < 1),
    { threshold: [1] }
  );

  observer.observe(document.getElementById('head') as Element);
</script>
