---
import { toRoman } from "@utils/toRoman";
import "@styles/base.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#191919" />
    <link
      rel="preload"
      href="/fonts/Switzer-Regular.woff2"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Switzer-Italic.woff2"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Switzer-Semibold.woff2"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Switzer-SemiboldItalic.woff2"
      as="font"
      type="font/woff"
      crossorigin
    />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="h-screen bg-base-800 bg">
    <div
      class="flex flex-col h-full pt-10 px-4 bg-base-800/80 backdrop-blur-xl overflow-scroll md:px-0"
    >
      <main class="flex-1 max-w-2xl mx-auto">
        <slot />
      </main>
      <footer
        class="mt-10 py-2 border-t border-base-500 text-base-200 md:w-screen"
      >
        <div class="flex justify-between items-center max-w-2xl mx-auto">
          <small>{toRoman(new Date().getFullYear())}</small>
          <div>
            <a
              href="https://github.com/jecktor"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="GitHub"
            >
              <img src="/assets/github.svg" alt="" aria-hidden="true" />
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
